body {
	color: blue;
	text-align: justify;
	background-color: darkgray;
}

a {color: inherit;}

ul#sarapan li{
	color: red;
}

ul#sarapan li.favorite:hover{
	color: lightyellow;
	font-size: 20px;
}
ul#sarapan li.favoritea1:hover{
	color: lightgreen;
	font-size: 20px;
}
ul#sarapan li.favoritea2:hover{
	color: darkorange;
	font-size: 20px;
}
ul#sarapan li.favoritea3:hover{
	color: lightblue;
	font-size: 20px;
}
ul#sarapan li.favoritea4:hover{
	color: lightpink;
	font-size: 20px;
}
ul#sarapan li.favoritea5:hover{
	color: lightgrey;
	font-size: 20px;
}