body {
	text-align: justify;
	font-family: arial;
	background-color: green;
}

.header {
	background-color: red;
}
.navigasi{
	background-color: orange;
}
.main{
	background-color: yellow;
}
.keterangan{
	background-color: lightgrey;
}
.main span{
	background-color: white;
	color: red;
}