h1 {
	font: arial;
	color: red;
	font-size: 50px;
}

.a1:link {
	color: orange;

}

.a1:hover {
	color: red;
	font: arial;
	font-style: italic;
	font-size: 20px;
}

.a2:hover {

	color: white;

}

.a2:active {

	font-style: italic;
}


p	{

	text-align: justify;
	color: brown;
}

li:nth-child(even) a{
	color: green;
}

li:nth-child(odd) a{
	color: gray;
}

p:first-of-type {
	color: green;
}

p:last-of-type {
	color: purple;
}

body{

	background-color: pink;

}