.a1:link {
	color: orange;

}

.a1:hover {
	color: red;,
	font: arial;
	font-style: italic;
	font-size: 20px;
}

.a2:hover {

	color: white;

}

.a2:active {

	font-style: italic;
}

li :nth-child a (2) {
	color: red;

}
p	{

	text-align: justify;
	color: brown;
}

body{

	background-color: pink;

}