body{
	text-align: justify;
	background-image: url(gambar/greek-vase.png);
}
h1{
	color: green;
	text-transform: uppercase;
	font-size: 40px;
}
h2{
font-size: 30px;
}

.s2{
	color: red;
}
.s3:hover{
	color: darkgrey;
	font-size: 35px;
}
#aa1:hover{
font-size:17px;
}
#aa3:hover{
font-size:17px;
}

ul li.a-1:hover{
	color: yellow;
	font-size: 20px;
}
ul li.a-2:hover{
	color: lightgreen;
	font-size: 20px;
}
ul li.a-3:hover{
	color: darkorange;
	font-size: 20px;
}
ul li.a-4:hover{
	color: lightpink;
	font-size: 20px;
}
ul li.a-5:hover{
	color: lightgrey;
	font-size: 20px;
}

ol li:nth-child(odd){
	color: darkorange;
	font-size: 20px;
}

.login1-2{
	font-size: 17;
}
#text{
	background-color: red;
}
#text2{
	background-color: white;
}
#login{
	background-repeat: repeat;
}
