
.sat {
height: 200px;
width:  200px;
background-color: orange;
margin: 50px 60px 70px 80px;


}
.du {
height: 100px;
width: 100px;
background-color: purple;
margin-left: 180px;
margin-top: -170px;


}

.tig {
height: 50px;
width: 50px;
background-color: lightgreen;
margin-left: 170px;
margin-top: -80px;
}

.empat {
height: 100px;
width: 100px;
background-color: purple;
margin-left: 80px;
margin-top:-100px;
}

.lima{
width: 50px;
height: 50px;
background-color: lightgreen;
margin-left: 130px;
margin-top: -50px;
}

.enam{
width: 50px;
height: 50px;
background-color: lightgreen;
margin-top: -150px;
margin-left: 130px;
}

.tujuh{
width: 50px;
height:50px;
background-color: lightgreen;
margin-left: 180px;
margin-top: -50px;
}



